.button {
  display: block;
  padding: 1rem;
  background-color: white;
  color: #213547;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  transition: transform 0.2s, box-shadow 0.2s;
  border: none;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: inherit;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgb(0 0 0 / 15%);
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  .button {
    background-color: white;
    color: #213547;
  }
}
