<html>
  <main class="form-container">
    <form class="auth-form" id="authorize-form">
      <h2>Авторизация</h2>
      
      {{{loginInput}}}
      
      {{{passwordInput}}}
      
      {{{submitButton}}}
      
      <div class="form-footer">
        <a href="/registrate">Нет аккаунта? Зарегистрируйтесь</a>
      </div>
    </form>
  </main>
</html>
