<html>
  <main class="chat-container">
    <div class="chat-window">
      <div class="chat-sidebar">
        <div class="chat-header">
          <a href="/settings" class="settings-link">Настройки</a>
        </div>
        <div class="chat-list">
        </div>
      </div>
      <div class="chat-main">
        <div class="chat-messages">
        </div>
        <div class="message-form">
          <form id="message-form">
            {{{messageInput}}}
            {{{submitButton}}}
          </form>
        </div>
      </div>
    </div>
  </main>
</html>
