<html>
  <main class="form-container">
    <form class="auth-form" id="authorize-form">
      <h2>Авторизация</h2>
      
      <div class="form-group">
        <label for="login">Логин</label>
        <input type="text" id="login" name="login" required>
      </div>
      
      <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" id="password" name="password" required>
      </div>
      
      <button type="submit">Войти</button>
      
      <div class="form-footer">
        <a href="/registrate">Нет аккаунта? Зарегистрируйтесь</a>
      </div>
    </form>
  </main>
</html>
