.tooltip {
    display: none;
    padding: 5px;
    border: 1px solid black;
    background-color: white;
    z-index: 1000;
}

.tooltip.tooltip_active {
    display: block;
    position: absolute;
}

.left_bottom {
  position: fixed; 
  bottom: 5px;
  left: 0;
}